@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/images/bg_juzochar.png);
  background-position: center;
}
.h1container {
  display: flex;
  margin-bottom: 700px;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 200px;
}
.maintitle {
  order: 1;
  color: white;
  font-family: "Poppins";
  font-size: 120px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-left: 1px;
}
.container {
  max-width: 2558px;
  padding: 50px;
  margin-top: 820px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}
.headerjuzo {
  order: 1;
  width: 850px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}
.headersven {
  order: 2;
  width: 850px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}
.ptjuzodtk {
  order: 3;
  width: 850px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin-top: 50px;
}
.ptkippler {
  order: 4;
  width: 850px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin-top: 50px;
}
.ptJuzoJuzo {
  order: 4;
  width: 850px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin-top: 50px;
}
.ptLun {
  order: 4;
  width: 850px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin-top: 50px;
}
.ptSaltyArcher {
  order: 4;
  width: 850px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin-top: 50px;
}
