body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/images/bwbackgroundv2.png);
  background-position: center;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
  gap: 120px;
  justify-content: space-around;
  max-width: 2200px;
  margin-bottom: 256px;
}

.image-header {
  width: 100%;
  max-width: 895px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}