@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap");

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/images/bwbackgroundv2.png);
  background-position: center;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
