@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/images/bwbackgroundv2.png);
  background-position: center;
}
.h1container {
  display: flex;
  position: absolute;
  margin-bottom: 700px;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 200px;
}
.maintitle {
  order: 1;
  color: white;
  font-family: "Poppins";
  font-size: 200px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-left: 1px;
}
.container {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Rainbow-six-siege"
    "Call-of-Duty"
    "Valorant"
    "Kovaaks";
}
.Rainbow-six-siege {
  grid-area: Rainbow-six-siege;
}
.Call-of-Duty {
  grid-area: Call-of-Duty;
}
.Valorant {
  grid-area: Valorant;
}
.Kovaaks {
  grid-area: Kovaaks;
}
.r6banner {
  display: flex;
  height: 650px;
}
.codbanner {
  display: flex;
  height: 650px;
}
.valbanner {
  display: flex;
  height: 650px;
}
.kvbanner {
  display: flex;
  height: 650px;
}

