@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap");
/* @import url("/css/reset.css"); */

/*
  General basics
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --font-color: #fff;

  --color-youtube: rgb(194, 20, 20);
  --color-twitch: rgb(174, 0, 255);

  --card-background: #181818;
  --card-text-stroke-color: #ffffff99;
}
body {
  background-position: center;
  font-family: "Poppins", sans-serif;
}
a:link,
a:visited {
  color: var(--font-color);
  text-decoration: none;
}


/*
  Classes
*/
.page-title {
  color: var(--font-color);
  font-size: 5vw;
  margin: 80px 0;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

/* 
Media 
*/

@media screen and (max-width: 600px) {
  .page-title {
    font-size: 66px;
  }
}

@media screen and (min-width: 600px) {
  .page-title {
    font-size: 110px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}


/* Start of link card */
.link-card {
  --card-box-shadow: 252, 248, 248;
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
}
.link-card__wrapper {
  align-items: center;
  background-color: var(--card-background);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  transition: all 0.3s;
}
.link-card__icon {
  background-color: #1a1919;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  height: 200px;
  padding: 20px;
  width: 200px;
}
.link-card__text-wrapper {
  color: transparent;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-top: 32px;
  position: relative;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4px var(--card-text-stroke-color);
}
.link-card__text-revealed {
  position: absolute;
  box-sizing: border-box;
  color: rgb(var(--card-box-shadow));
  width: 0%;
  inset: 0;
  border-right: 6px solid rgb(var(--card-box-shadow));
  overflow: hidden;
  transition: 500ms;
  -webkit-text-stroke: 1px rgb(var(--card-box-shadow));
}


.link-card:hover {
  background: linear-gradient(163deg, #ffffff 0%, #ffffff1e 100%);
  box-shadow: 0px 0px 30px 1px rgba(var(--card-box-shadow), .4);
  transform: translateY(-5px);
}
.link-card:hover .link-card__wrapper {
  transform: scale(.98);
}
.link-card:hover .link-card__text-revealed {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--card-text-stroke-color))
}

/* End of link card */
