@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap');

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/bg_juzochar.png);
    background-position: center;
}
.title
{
    color: white;
    font-family: "Poppins";
    font-size: 100px;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}